@model ESign.Model.SessionGroup

@{
    ViewBag.Title = "eSign";
    Layout = "../_layout.cshtml";
}
<div id="signingSection">
    <div id="selectionPane">
        <div data-bind="foreach: sessions">
            <div class="bold" data-bind="text: lineOfBusiness"></div>
            <div data-bind="foreach: documents">
                <div data-bind="text: Name,click: function(data, event) { $parent.displayPdf(PdfName);}"></div>
            </div>
        </div>
    </div>
    <div id="signingWindow">
        <object id="signingPdf" data="" type="application/pdf"></object>
    </div>
</div>

<script type="text/javascript">
    $(function()
    {
        var serverView = @Html.Raw(Json.Encode(Model));
        var koModel = new App.signingModel(serverView);

        ko.applyBindings(koModel);

        App.register();
    });
</script>

