@model ESign.Model.SessionGroup

@{
    ViewBag.Title = "eSign";
    Layout = "../_layout.cshtml";
}
<div id="signingSection">
    <div id="selectionPane">
        <div data-bind="foreach: sessions">
            <div data-bind="text: LineOfBusiness"></div>
        </div>
    </div>
    <div id="signingWindow">
        Some stuff here
    </div>
</div>

<script type="text/javascript">
    $(function()
    {
        var serverView = @Html.Raw(Json.Encode(Model));
        var koModel = new App.signingModel(serverView);

        ko.applyBindings(koModel);

        viewModel = koModel;
    });
</script>

